*{

}
/* this is hader */
.header-pp{
  
   

}
/* this is main */
.bannar-text{
 padding:100px 100px;
 text-align: center;
}
.bannar{
color: aliceblue;
background-image:url("/img/bannar.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.bannar h1{
    font-weight: 800;
}
.bannar p{
    font-weight: 600;
}
/* thsi is my self */
.img-self{
  border-radius: 50px;
}
.my-self-text{
    justify-items: center;
    align-items: center;
}
.my-self-img{
    position: relative;
}
.bannge{
    position: absolute;
    top: 30px;
    background-color: rgb(194, 194, 194);
    padding:5px 10px;
    border-radius:10px;
    right: -20px;
    color: white;
    

}


.my-self-text{
    offset:2;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
    
}
/* this is bage teg  */
.badge-teg{
    position: relative;
}
.box-bage{
    position: absolute;
    top:0px;
    padding:5px 20px;
    background-color: aqua;
    border-radius:10px;
    margin-left:10px;
    margin-top:10px;
    color: crimson;
}